<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FRLocalNotificationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D40AC551D781F9E004E1826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D40AC6E1D781F9E004E1826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D40AC791D781F9E004E1826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
